.twitter-typeahead {
  width: 100%;
}

.col-md-6 .typeaheadArticleSelect .tt-dropdown-menu {
  width: 100%;
}

.col-md-3 .typeaheadArticleSelect .tt-dropdown-menu {
  width: 200%;
}

.typeaheadArticleSelect .tt-dropdown-menu {
  width: 300%;
}

.tt-hint {
  width: 100%;
}

.typeaheadArticleSelect .article-category {
  font-style: italic;
}

.typeaheadArticleSelect .article-name {
  font-size: 16px;
  font-weight: bold;
}

.typeaheadArticleSelect .article-description {
  
}